@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&family=Lobster&display=swap');

$font-family-1: 'Kanit', sans-serif;
$font-family-2: 'Lobster', cursive;

$bcg-transition: 0.2s;
$transition-time: 0.2s;

$min-width: 600px;
$medium-width: 800px;

$font-size-1: 1rem;
$font-size-2: 1.1rem;


//HOME
$font-size-title-mobile: 3rem;
$font-size-subtitle-mobile: 0.8rem;
$font-size-title: 5.2rem;
$font-size-subtitle: 1rem;

$button-bcg-color: #0c070481;
$button-bcg-color-hover: #0c0704e7;

//PRICELIST
$service-max-width: 800px;
$edit-icon-height: 25px;
