@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&family=Lobster&display=swap');

$font-family-1: 'Kanit', sans-serif;
$font-family-2: 'Lobster', cursive;

$bcg-transition: 0.2s;
$transition-time: 0.2s;

$font-size-5: 1.6rem;

//NAV
$nav-hover-color: grey;
$logout-color: rgb(255, 29, 29);
$logout-color-hover: rgb(204, 0, 0);

//BUTTON
$button-padding-horizontal: 7px;
$button-padding-vertical: 20px;
$button-color-1: rgb(36, 25, 46);
$button-color-1-hover: rgb(64, 47, 80);
$button-width: 200px;


//HEADER
$title-font-size-mobile: 1.3rem;
$subtitle-font-size-mobile: 1.1rem;
$title-font-size: 2rem;
$subtitle-font-size: 1.9rem;
$header-bcg-color: rgb(56, 56, 72);
$header-height: auto;

//LOGIN
$login-form-width: 200px;

//PRICELIST
$service-max-width: 800px;
$edit-icon-height: 25px;
