@import '../../sass/variable.scss';

.spinner-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  min-height: calc(100vh - 68px);
  margin-top: 68px;
  width: 100%;
  backdrop-filter: blur(3px);
  background-color: $spinner-bcg-color;
  z-index: 2;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  
  & .path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}