@import '../../../sass/variablex.scss';

.service{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: $service-max-width;
  margin: 0 auto;

  &__index{
    width: 30px;
    text-align: left;
  }

  &__title{
    flex-basis: 70%;
    text-align: left;
  }

  &__price{
    flex-basis: 15%;
  }

  &__edit-icon{
    height: $edit-icon-height;
    margin-right: 10px;
    transform: translateY(-3px);
    transition: $transition-time;
    cursor: pointer;

    &:hover{
      filter: invert(64%) sepia(1%) saturate(2953%) hue-rotate(318deg) brightness(79%) contrast(91%);
    }
  }

  &__delete-icon{
    height: $edit-icon-height + 1;
    transition: $transition-time;
    transform: translateY(-1px);
    cursor: pointer;

    &:hover{
      filter: invert(64%) sepia(1%) saturate(2953%) hue-rotate(318deg) brightness(79%) contrast(91%);
    }
  }
}