@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

h1,
h2,
h3,
p,
a,
button,
input,
textarea,
span {
  font-family: 'Kanit', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}